.sunsistem {
    position: relative;
    top: 0;
    left: 0;
}

#trolleybus {
    position: absolute;
    top: 0;
    left: 0;
    margin: 530px 0 0 200px;

}

#tram {
    position: absolute;
    top: 0;
    left: 0;
    margin: 360px 0 0 550px;
}

#bus {
    position: absolute;
    top: 0;
    left: 0;
    margin: 380px 0 0 130px;
}

#taxi {
    position: absolute;
    top: 0;
    left: 0;
    margin: 480px 0 0 450px;
}

#plane {
    position: absolute;
    top: 0;
    left: 0;
    margin: 480px 0 0 900px;
}

#bicycle {
    position: absolute;
    top: 0;
    left: 0;
    margin: 190px 0 0 421px;

}

#boat {
    position: absolute;
    top: 0;
    left: 0;
    margin: 210px 0 0 550px;
}

#car {
    position: absolute;
    top: 0;
    left: 0;
    margin: 129px 0 0 245px;
}

#helicopter {
    position: absolute;
    top: 0;
    left: 0;
    margin: 500px 0 0 701px;
}

#jeep {
    position: absolute;
    top: 0;
    left: 0;
    margin: 721px 0 0 673px;
}

#locomotive {
    position: absolute;
    top: 0;
    left: 0;
    margin: 900px 0 0 525px;

}

#motorbike {
    position: absolute;
    top: 0;
    left: 0;
    margin: 190px 0 0 921px;
}

#ship {
    position: absolute;
    top: 0;
    left: 0;
    margin: 308px 0 0 721px;
}

#sport_car {
    position: absolute;
    top: 0;
    left: 0;
    margin: 800px 0 0 199px;
}

#train {
    position: absolute;
    top: 0;
    left: 0;
    margin: 675px 0 0 990px;
}


#message {
    position: absolute;
    font-family: "Times New Roman", Times, serif;
    background-color: black;
    color: white;
    font-size: 20pt;	
    top: 0;
    left: 0;
    margin: 100px 0 0 320px;
}